.product-info{
  display: flex;
  flex-direction: row;
  gap: 10px;
  min-height: 26vw;
  box-shadow: 5px 5px 10px 1px #000000;
  max-width: 98%;
  margin: 20px;
}



.product-info .product-img{
  max-width: 100%;
  max-height: 100%;
  background-size: cover;
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
}

.product-img-container{
  max-width: 100%;
  max-height: 100%;
}

.product-content{
    display: flex;
    flex-direction: column;
    min-height: 100%;
    gap:24px;
    padding: 5px;
}

.product-content h2 {
    font-size: 24px;
    margin: 0;
  }
  
  .product-content p {
    margin: 5px 0;
  }
  
  .product-content button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    max-width: 15%;
  }
  
  .product-content button:hover {
    background-color: #0056b3;
  }

  .product-content .category {
    font-weight: bold;
    color: #333; 
  }
  
  .product-content .price {
    font-weight: bold;
    color: #007bff; 
  }
  
  .product-content .description {
    font-size: 16px;
    color: #555;
    font-family: sans-serif;
  }

  @media only screen and (max-width: 768px) {
    .product-info{
     display: flex;
     flex-direction: column;
     padding: 10px;
     margin: 10px;
     .product-img-container{
      width: 100%;
    }
    .product-content button {
      min-width: 100%;
    }
    }
   }


   .loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin: auto;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }