.cart-container {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    margin: 0 auto;
    gap: 5px;
    background-color: aliceblue;
  }
  
  .cart-items {
    flex: 2;
    margin-right: 20px;
    background-color: white;
    padding: 5px;
  }
  
  .cart-summary {
    border-radius: 2px;
    padding: 10px;
    min-height: 50px;
    width: 33%;
    background-color: white;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
  }
  .cart-summary-header{
    background-color: aliceblue;
  }
  
  .cart-item {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
  }
  
  .item-image img {
    max-width: 100px;
    height: auto;
    margin-right: 20px;
  }
  
  .quantity-controls button {
    padding: 5px 10px;
    margin-left: 5px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .quantity-controls button:hover {
    background-color: #0056b3;
  }
  
  ul{
    list-style: none;
    padding: 4px;
    margin-left: 5px;
    li{
      margin: 4px 0px;
    }
  }