.product-container {
    display: grid;
    justify-content: space-around;
    grid-template-columns: 33% 33% 33%;
}   

@media only screen and (max-width: 768px) {
   .product-container{
    display: flex;
    flex-direction: column;
   }
  }