.select-container{
    display: flex;
    justify-content: space-between;
    margin: 15px;
    flex-wrap: wrap;
    padding: calc(8px + 1.5625vw);
}

.category-button {
    display: inline-block;
    padding: calc(2px + 1.5625vw);
    margin: 4px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .category-button:hover {
    background-color: #ddd;
  }
  

  .electronics-button {
    background-color: #007bff;
    color: #fff;
  }
  
  .electronics-button:hover {
    background-color: #0056b3;
  }
  
  .jewelry-button {
    background-color: #ffcc00;
    color: #000;
  }
  
  .jewelry-button:hover {
    background-color: #e6b800;
  }

  .mens-clothing-button {
    background-color: #28a745;
    color: #fff;
  }
  
  .mens-clothing-button:hover {
    background-color: #218838;
  }

  .womens-clothing-button {
    background-color: #dc3545;
    color: #fff;
  }
  
  .womens-clothing-button:hover {
    background-color: #c82333;
  }
  